<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
	<link href="view/ludacm/style.css" rel="stylesheet" /> 
    <title>Lud'ACM</title>  
  </head>
  <body>
    <div id="page"><!-- div "page" donne hauteur minimale -->
      <h1 class="bleu_ciel center">
        <img class="center" src="view/ludacm/img/__banner.png" alt="Ma bannière: ronde d'enfants" />
        Lud'ACM
      </h1>
      <div class="cadre">
        <h2 class="center">
          L'accueil de loisirs dont vous êtes le héros...
        </h2>
        <form class="center" method="post" action="game/register.php">
        <input class="start" type="submit" value="COMMENCER" />
        </form>
      </div>
    </div><!-- close div "page" -->
    <div id="footer"><!-- Pied de page -->     
      <hr/>
      <p><!-- Menu <p>, plus petit que dans l'en-tête -->
        <a href="http://marcharnist.fr/ludacm">Accueil</a> - 
          <a href="http://marcharnist.fr/ludacm/contact/">Contact</a> 
      </p><!-- Fin du menu -->
      <h6><!-- Petit menu discret pour administrations -->
        <a class="nu" href="http://marcharnist.fr/ludacm/private/">O</a> 
          Réalisation: 
        <a href="http://marcharnist.fr/ludacm">Isabelle Harnist</a> 
        <a href="http://validator.w3.org/check/referer">HTML5</a>  - 
        <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS3</a>
      </h6>    
    </div><!-- Close the footer -->
  </body>
</html>